package common

import (
    "fmt"
)

templ BaseForm(formId string, postUrl string) {
    <form
        id={ formId }
        action={ templ.URL(postUrl) } method="post"
        hx-post={ postUrl } hx-target="#page-content" hx-target-error={ fmt.Sprintf("#%s-error-div", formId) }
    >
    { children... }
    </form>
    <div id={ fmt.Sprintf("%s-error-div", formId) }></div>
}