package pages

templ About() {
    <div>
        <h1>About</h1>
        <p>This is a 'crossword game' (still needs a much better title) built with htmx and Go.</p>
        <p>Built by Joseph Spearritt</p>
        <p>
            The application is open source and MIT licensed, available on
            <a href="https://github.com/mcoot/crosswordgame-go">Github</a>
        </p>
    </div>
}