package pages

import (
    "github.com/mcoot/crosswordgame-go/internal/apitypes"
    "github.com/mcoot/crosswordgame-go/internal/api/webapi/template/common"
    "github.com/mcoot/crosswordgame-go/internal/api/webapi/template/layout"
)

templ Error(err apitypes.ErrorResponse) {
    @layout.Layout() {
        @common.ErrorBlock(err)
    }
}