package template

import "fmt"
import "github.com/mcoot/crosswordgame-go/internal/apitypes"

templ Error(err apitypes.ErrorResponse) {
    <h1>Error { fmt.Sprintf("%d", err.HTTPCode) }</h1>
    <p>{ err.Kind } - { err.Message }</p>
}