package template

import lobbytypes "github.com/mcoot/crosswordgame-go/internal/lobby/types"

templ LobbyPage(lobby *lobbytypes.Lobby, gameSpaceItem templ.Component) {
    <h1>Lobby: { lobby.Name }</h1>
    <p>Lobby ID for joining: { string(lobby.Id) }</p>
    @gameSpaceItem
}

templ EmptyGameSpace() {
    <p>No game running</p>
}